.orders__wrapper{
    background-color: #1A4C44;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}
.orders__header{
    background-color: #0D2622;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 4rem;
    border-bottom-left-radius: 18%;
    border-bottom-right-radius: 18%;
}

.orders__main{
    background-color: #666666;
    color: white;
    width: 68%;
    height: 100%;
    border-radius: 3%;
}


.orders__main ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 2rem;
    gap:3%;
    
}

.orders__main ul li.li__for {
    display: flex;
    flex-direction: column;
    width: 30%;
    /* border: 1px black solid; */
    border-radius: 5%;
    margin-block: 10px;
}
.order__buttons{
    display: flex;
    gap:5px
}
.order__buttons a{
    color: lightgreen;
    padding: 2px 4px;
}
.order__button__delete a{
    color: red;
    padding: 2px 5px 0px 5px;
    border-radius: 10%;
    font-size: large;
    /* background-color: #414040; */
}

.order__buttons a:hover{
    background-color: black;
    border-radius: 10%;
}

.order__button__delete a:hover{
    background-color: red;
    color: black;
    border-radius: 10%;
}


.orders__main ul li.li__for:hover{
    font-weight: bolder;
    background-color: #414040;
}


.ul__for{
    display: flex;
    flex-flow: column;
    align-self: center;
    
}

.ul__for li{
    padding: 3px 0px;
}

.line__text {
    display: flex;
    gap:40px;
    justify-content: space-between;
    width: 100%;
}