*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration-line: none;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.test{
    background-color: white;
    background-image:url('/static/images/p_sides.png');

}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 3rem;
}

/* Header Area ##############################-- HEADER Area-- */
.header{
    background-color:#0D2622;
    color: white;
    height: 4rem;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    display: flex;
}
.nav__menu a{
    color:  white;
    text-decoration-line: none;
    font-family: Trebuchet MS, sans-serif;
}

.nav__menu a:hover{
    font-size: large;
    background-color: #163b34;
    padding: 3px 6px 3px 6px;
    border-radius: 20%;
}

.logo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.nav__menu{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    gap:30px;
    
}


/* Content Area ############################-- CONTENT AREA */
.content__wrapper{
    background-color: #1A4C44;
    margin-top: -10px;
    min-height: 80vh;
    width: 90%;
    margin-top: 0px;
    margin: 0 4rem;
    padding-top: 20px;
}

/* Footer Area #############################-- FOOTER AREA */
.footer{
    background-color: #0D2622;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    height: 3rem;
}
