<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='orders/orders.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='orders/show.css') }}"/>
    <title>Document</title>
</head>
<body>
    <div class="test">
    <div class="header">
        <div class="logo container">Logo</div>
        <nav class="nav_bar container">
            <ul class="nav__menu">
                <li><a href="/">Home</a></li>
                <li><a href="/orders">Orders</a></li>
                <li><a href="/items">Items</a></li>
                <li><a href="/orders/new">New Order</a></li>
            </ul>
        </nav>
    </div>
    

    <div class="content__wrapper container">
        {% block content %}
            
        {% endblock content %}
    </div>

    <div class="footer">
    </div>
    </div>
</body>
</html>