<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet"  href="{{ url_for('static', filename='index.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='orders/orders.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='orders/show.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='orders/add_item.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='orders/edit.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='items/items.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='items/add_items.css') }}"/>
    <title>Order App</title>
</head>
<body>
    <div class="background__image">
    <div class="header">
        <div class="logo container">
         <img src="/static/images/logo.png" alt="Error" class="logo__img">
        </div>

        <nav class="nav_bar container">
            <ul class="nav__menu">
                <li><a href="/">Home</a></li>
                <li><a href="/orders">Orders</a></li>
                <li><a href="/items">Menu</a></li>
                <li><a href="/orders/new">New Order</a></li>
            </ul>
        </nav>
    </div>
    

    <div class="content__wrapper container">
        {% block content %}
            
        {% endblock content %}
    </div>

    <div class="footer">
        <h4>George Tegos, 2023</h4>
    </div>

    </div>
</body>
</html>