{% extends 'base.jinja' %}
{% block content %}
    <div class="contact">
        <h2>Having any issues or found something not working correctly ?</h2>
        <h3>You can report it <a href="mailto:george.tegos.22@gmail.com" class="mail">Here</a></h3>
    </div>
{% endblock  %}