{% extends 'base.jinja' %}
{% block content %}
    
    test area
    <ul>
    {% for item in result  %}
         <li>{{ item.item_name }} {{ item.customer_name }}
        </li>
    {% endfor %}
       
    </ul>

    <ul>
    {% for object in order_list %}
        <li>{{ object.order.customer_name }} - {{ object.item.item_name }} - {{ object.item.item_price }}</li>
        <li></li>
    {% endfor %}
    </ul>

{% endblock content %}