{% extends 'base.jinja' %}
{% block content %}
    <ul class="user_guide_ul">
        <li class="user_guide_li">
            <span style="margin-bottom: 30px;">
            <h2>User Guide </h2>
            <span>everything you need to know.</span><br>
            <span> <a class="mail" href="/report">Help</a></span>
            </span>
        </li>
        <li class="user_guide_li">
            <span>Find all your orders at " ORDERS " option.</span>
            <span>You can access any order by clicking "Check Order"</span>
             <span>Add Items or Delete the Order</span>
             <span>You can search for order by typing the order ID</span>
            <img class="fix_image" src="/static/project_images/orders.png" alt="orders" style=""> 
        </li>
        <li class="user_guide_li">
            <span>You can Edit Order/Customer details</span>
            <span>Update the quantity of items</span>
            <span>And set your order status to delivered by clicking the button Deliver</span> 
            <img class="fix_image" src="/static/project_images/order.png" alt="order show">
        </li>
        <li class="user_guide_li">
            <span>Edit Order informations.</span>
            <span>If order delivered by accidently clicking Deliver you can revert the status</span>
            <span>by having the "Revert Order Status" checked.</span>
            <img class="fix_image" src="/static/project_images/edit_order.png" alt="new order"> 
        </li>


        <li class="user_guide_li">
            <span>Update item quantity.</span>
            <span>Setting quantity to 0 will remove the item from the order</span>
            <img class="fix_image" src="/static/project_images/edit_quantity.png" alt="new order"> 
        </li>
        <li class="user_guide_li">
            <span>You can create new order at "New Order" option </span>
            <img class="fix_image" src="/static/project_images/new_order.png" alt="new order"> 
        </li>
        {# Items #}
        <li class="user_guide_li">
            <span>You can see your Items menu at "MENU" option.</span>
            <span>You can edit item name and price by clicking on it</span>
            <img class="fix_image" src="/static/project_images/menu.png" alt="new order"> 
        </li>
        
        <li class="user_guide_li">
            <span>Change item name and price and click "Update Item"</span>
            <span>If you want to just remove  the item from menu click "Delete"</span>
            <img class="fix_image" src="/static/project_images/edit_item.png" alt="new order"> 
        </li>
        







    
    </ul>
{% endblock content %}