{% extends 'base.jinja' %}
{% block content %}
    
    <div class="show__left" style="margin-right:30px ; margin-left:20px;margin-bottom:10px;">
            <div class="show__id">
                <span>Order No: <span class="show__id__ID">{{ order.id }}</span></span>
            </div>
            <div class="show__infos">
                <ul>
                    <li class="text_test">
                        <span>Customer Name</span> 
                        <span>{{ order.customer_name }}</span></li>
                    <li class="text_test">
                        <span>Phone</span> 
                        <span>{{ phone }}</span></li>
                    <li class="text_test">
                        <span>Address</span>
                        <span>{{ order.customer_address }}</span>
                    </li>
                </ul>
            </div>
    </div>

    <div class="show__right">
        <div class="show__right__header">
            <h4>Editing Items Quantity for order: {{ order.id }}</h4>              

        </div>
        <div class="show__right__main ">
            <form action="/order/{{order.id}}/new_quantity" method="POST" class="test_form">
                <button class="add_item_button save_button" type="submit" onclick="return confirm('Confirm New Quantity!')">Update Order</button>

                <ul class="add_items_ul">
                    {% for k,v in ordered_items.items()  %}
                    <li class="add_items_li">
                        <label class="add_items_li_label" for="{{k}}">
                            <span>{{ k }}</span> 
                            <span>Quantity</span></label> 
                        <input type="number" min="0" max="99" name="{{k}}" id="{{k}}" value="{{v}}" >
                    </li>
                    {% endfor %}
                </ul>
            </form>
        </div>
    </div>

{% endblock content %}