{% extends 'base.jinja' %}
{% block content %}
    <div class="orders__wrapper">
        <div class="orders__header">
            <form action="/order/find", method="post">
                <label for="search">Search Order Number</label>
                <input type="number" name="search" id="search">
                <button type="submit">&#128269</button>
            </form>
        </div>

        <div class="orders__main">
            <ul>
            {% for order in orders  %}
                <li class="li__for">
                    <ul class="ul__for">
                        <li class="line__text"><span>Order No:</span> {{ order.id }}</li>
                        <li class="line__text"><span>Customer:</span> {{ order.customer_name }}</li>
                        <li class="line__text"><span>Delivered:</span>
                        {% if order.order_delivered == False  %}
                            &#x2716;
                        {% else %}
                            &#x2714;
                        {% endif %}
                        </li>
                        <li class="order__buttons">
                        <a href="/order/{{ order.id }}">Check order</a>
                        {% if order.order_delivered != True %}
                        <a href="/order/{{order.id}}/add_items">Add</a>
                        {% endif %}
                        </li>
                        <li class="order__button__delete">
                        <a href="/order/{{order.id}}/delete" 
                            onclick="return confirm('Confirm Your Delete:\nOrder {{order.id}}')">
                            Delete</a></li>

                    </ul>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}