{% extends 'base.jinja' %}
{% block content %}
    <div class="show__wrapper">
        <div class="show__left">
            <div class="show__id">
                <span>Order No: <span class="show__id__ID">{{ order.id }}</span></span>
                <div>
                   {% if order.order_delivered != True %}
                        <form action="/orders/{{order.id}}/button" method="post">
                            <label for="delivered"></label>
                            <input type="checkbox" name="delivered" id="delivered" style="display: none;" checked>
                            <button type="submit" class="status_click">Deliver</button>
                        </form>
                    {% else %}
                    <h3>Order Sended</h3>
                    {% endif %}
                </div>
            </div>
            
            <div class="show__infos">
                <ul>
                    <li class="text_test"><span>Customer Name</span> <span>{{ order.customer_name }}</span></li>
                    <li class="text_test"><span>Phone</span> <span>{{ phone }}</span></li>
                    <li class="text_test"><span>Address</span> <span>{{ order.customer_address }}</span></li>
                    <li class="text_test"><span>Total</span> <span>£{{total }}</span></li>

                            
                       
                    <li class="edit__button"><a class="edit__button" href="/orders/{{order.id}}/edit">Edit</a></li>
                </ul>
            </div>
        </div>
        

        <div class="show__right">
            <div class="show__right__header">

            </div>
            <div class="show__right__main">
                <ul class="show__right__list">
                    {% if ordered_items != None %}
                        
                        {% endif %}
                        {% for k,v in ordered_items.items()  %}
                        <li class="show__ul__item">  
                        Item: {{ k }} <br>quantity :{{ v }} {# TO DO ADD DELETE ITEM FROM ORDER#}
                        </li>
                    {% endfor %}
                </ul>
                </div>
            </div>
    </div>
{% endblock content %}