{% extends 'base.jinja' %}
{% block content %}
    <div class="items__wrapper">
        <div class="items__header">
            <span>
                <h3><a class="add_item" href="/items/add">Add Item</a></h3> 
            </span>   
        </div>

        <div class="items__main">
            <ul>
                {% for item in items %}
                    <li class="one__item">
                        <ul class="ul__one_item">
                            <li class="line__text ">
                                <a class="items__buttons" href="/item/{{item.id}}">
                                {{ item.item_name }}</a> 
                                <span>£{{ item.item_price }}</span>
                            </li>
  
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock content %}