{% extends 'base.jinja' %}
{% block content %}
    
<form action="/items" method="post">
    
    <label for="item_name">Item Name:</label>
    <input type="text" name="item_name" id="item_name" required>

    <label for="item_price">Price:</label>
    <input type="number" id="item_price" name="item_price" 
        pattern="[0-9]{1,3}" title="Maximum price is 999" required/>
   
    {# <label for="item_tag">Item Tag</label>
    <input type="text" name="item_tag" id="item_tag" required> #}
    

    <button type="submit" onclick="return confirm('Confirm New Item ')">Add Item</button>
    
    </form>
    
{% endblock content %}

