{% extends 'base.jinja' %}
{% block content %}
    <h3>Items</h3>    

    <ul>
        {% for item in items %}
            <li>{{ item.item_name }}, {{ item.item_price }}</li>
        {% endfor %}
    </ul>

{% endblock content %}